<html>
<head>
    <title>Schedu</title>
    <style>
        body {
            /*background-color: red;*/
            background-image: url('https://raw.githubusercontent.com/anooprh/hackathon-starter/master/public/img/newbackground.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
</head>
<body>

</body>
</html>
